@import /src/assets/sass/configs

.btn-primary
  background-color: $c-accent !important
  color: $c-text-secondary !important
  border: 1px solid $c-accent !important

.btn-outline-primary
  background-color: #0000 !important
  color: $c-text-primary !important
  border: 1px solid $c-text-ordinary !important

.btn-primary, .btn-outline-primary
  font-size: .8rem !important
  letter-spacing: .1em
  font-weight: 600 !important
