@import /src/assets/sass/resets
@import /src/assets/sass/configs

html 
  scroll-behavior: smooth

#root
  min-height: 100%
  font-family: 'Poppins', Arial, sans-serif
  background: $c-bg-primary
  height: 3000px

.container
  @include xl-screens
    width: 1110px !important