@import /src/assets/sass/variables

// Colors
$colors: ("primary": $c-primary, "light": $c-light, "dark": $c-dark)
@each $name, $value in $colors

  .bg-#{$name}.bg-#{$name}
    background-color: $value !important

  .text-#{$name}.text-#{$name}
    color: $value !important

.bg-secondary.bg-secondary
  background-color: $bg-secondary !important

.text-secondary.text-secondary
  color: $text-secondary !important

// Font Weights
@for $i from 1 through 9
  .fw-#{$i}00
    font-weight: $i * 100 !important