@import /src/assets/sass/variables

// Colors
$colors: ("primary": $c-primary, "light": $c-light, "dark": $c-dark)
@each $name, $value in $colors

  .bg-#{$name}.bg-#{$name}
    background-color: $value !important

  .text-#{$name}.text-#{$name}
    color: $value !important
    transition: color .3s

  .text_hover-#{$name}.text_hover-#{$name}:hover
    color: $value !important

  .fill-#{$name}
    fill: $value

  .stroke-#{$name}
    stroke: $value

.bg-secondary.bg-secondary
  background-color: $bg-secondary !important

.text-secondary.text-secondary
  color: $text-secondary !important
  transition: color .3s

.text_hover-primary:hover
  color: $c-primary !important

.fill-secondary
  fill: $text-secondary

// Font Weights
@for $i from 5 through 9
  .fw-#{$i}00
    font-weight: $i * 100 !important

// Sizing
.w-fit.w-fit
  width: fit-content !important
.w-md-fit.w-md-fit
  @include md-screens
    width: fit-content !important
